<div class="container">
    <div class="row">
        <div class="col">
            <div class="boxsize float-right">
                <div class="row h-100">
                    <div class="col-sm-12 my-auto">
                        <p class="text-center">Space</p>
                    </div>
                </div>
            </div>				
        </div>
        <div class="col">
            <div class="boxsize float-left">
                <div class="row h-100">
                    <div class="col-sm-12 my-auto">
                        <p class="text-center" routerLink="/bird">Birds</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="boxsize float-right">
                <div class="row h-100">
                    <div class="col-sm-12 my-auto">
                        <p class="text-center" routerLink="/animal">Animal</p>                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="boxsize float-left">
                <div class="row h-100">
                    <div class="col-sm-12 my-auto">                      
                        <p class="text-center" routerLink="/nature">Nature</p>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>